# Prevent any script execution inside the uploads directory
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|pht|phar|cgi|pl|py)$">
    Require all denied
</FilesMatch>

Options -ExecCGI
AddHandler cgi-script .php .phtml .php3 .php4 .php5 .php7 .pht .phar .cgi .pl .py
